/use_data/*
/results/*
/data/*
/__pycache__/*
/plots_statistics/figures/
/results_with_compound_embedding/*
/results_without_compound_embedding/*
/*results*/*
.ipynb_checkpoints
/docs/*
/logs/*
.flake8
*.pyc
*.pt
*.csv

# ignore prettier cache
/node_modules/*
